{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<link rel="stylesheet" href={{ url_for('static', filename='tracker.css')}}>

{% block title %}Habit{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}

    {{ wtf.quick_form(form) }}

    {% endblock %}
    <div id="piechart" style="width:50%; height:300px; margin:0 auto;"></div>
    
{% endblock %}

{%block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src={{ url_for('static', filename='tracker.js')}}></script>
<script type="text/javascript"> var habitList = identity({{habitList|tojson}}) </script>
<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>


{% endblock%}