<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="piechart" ></div>
    <div id="chartDiv2" style="width:50%; height:300px; margin:0 auto;"></div>
    <script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        
        let myConfig = {
            type: "ring",
            title: {
                text: "Donut Chart"
            },
            plot: {
                //Use the "slice" attribute to adjust the size of the donut ring.
            },
            series: [
                { values: [59] },
                { values: [55] },
                { values: [30] },
                { values: [28] },
                { values: [15] }
            ]
        }
        // Render Method
        zingchart.render({ id: 'piechart', data: myConfig, });
        // draw("chartDiv");
        // draw("chartDiv2");
        // function draw(id) {
        //     JSC.Chart(id, {

        //         type: 'pie donut',
        //         title: {
        //             label: { text: id, style_fontSize: 16 },
        //             position: 'center'
        //         },
        //         series: [
        //             {
        //                 points: [
        //                     { y: 1, color: "green" },
        //                     { y: 1, color: "green" },
        //                     { y: 1, color: "red" }
        //                 ],
        //                 // shape: { center: '20%,50%' }
        //             },
        //         ]
        //     });
        // }
    //     var demoList = [
    //     { habit: "Drink Water", total: 7, done: 4 },
    //     { habit: "Exercise", total: 5, done: 1 }
    // ]

    // var allchart = document.createElement("div");
    // for (var i = 0; i < demoList.length; i++) {
    //     var id = "chart" + i;
    //     // Create a new HTML element
    //     var newchart = document.createElement("canvas");
    //     newchart.setAttribute("id", id);
    //     // Append the new element to the old div
    //     document.getElementById("piechart").appendChild(newchart);
    // }

    // // draw charts in the list

    // for (var i = 0; i < demoList.length; i++) {
    //     var total = demoList[i]["total"];
    //     var done = demoList[i]["done"];
    //     var title = demoList[i]["habit"];
    //     var id = "chart" + i;
    //     console.log("habit"+title);
    //     draw(id, title, total, done);
    // }

    // function draw(id, title, total, done) {

    //     // Create an array of chart elements
    //     var dataPoints = [];
    //     for (var i = 0; i < done; i++) {
    //         dataPoints.push({ y: 1, color: "rgb(119, 172, 162)" });
    //     }
    //     for (var j = 0; j < (total - done); j++) {
    //         dataPoints.push({ y: 1, color: "rgb(244, 233, 205)" });
    //     }
    //     // Draw chart
    //     JSC.Chart(id, {

    //         type: 'pie donut',
    //         title: {
    //             label: { text: id, style_fontSize: 16 },
    //             position: 'center'
    //         },
    //         series: [
    //             {
    //                 points: dataPoints,
    //                 // shape: { center: '20%,50%' }
    //             },
    //         ]
    //     });
    // }
    // </script>
</body>

</html>